$colors: (
  light-gray: rgba(85, 83, 83, 0.5),
  med-gray: hsla(0, 0%, 16%),
  med-gray-half: hsla(0, 0%, 16%, 0.5),
  dark-gray: hsl(0, 0%, 20%),
  white: hsl(0, 0%, 100%),
  off-white: hsl(0, 0%, 90%),
  primary: hsl(31, 85%, 66%),
  primaryDark: hsl(31, 81%, 58%),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
